@model Primetime.Models.Movie

@{
    ViewBag.Title = "checkOut";
}

<h2>checkOut</h2>

<h3>Are you sure you want to check this movie out?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieID)
        </dd>*@

    </dl>

    @using (Html.BeginForm("getCustomerInfo","ClerkView")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Which customer is checking out?" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
